.caret {
    display: inline-block;
    width: 0px;
    height: 30px;
    border-left: 3px solid var(--wrong-color);
    position: absolute;
    transition: left 0.1s linear;
}

.animation {
    animation: caretAnimation 0.5s ease-in infinite alternate;
}

@keyframes caretAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}