.word {
    display: inline-block;
    margin-right: 15px;
    font-size: 27px;
    line-height: 1;
    height: 40px;
    color: var(--main-color);
}

.word span {
    display: inline-block;
    height: 100%;
    line-height: 1;
    user-select: none;
}

.wrongWord span {
    text-decoration: underline;
    text-decoration-color: var(--wrong-color);
}


.correct {
    color: var(--correct-color);
}

.wrong {
    color: var(--wrong-color);
}