:root {
  --main-color: #2aa198;
  --background-color: #fdf6e3;
  --correct-color: black;
  --wrong-color: #db5d95;
}


html {
  font-family: "Roboto Mono", "Roboto Mono", Vazirmatn, monospace;
}


.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  flex-direction: column;
}