:root {
  --main-color: #385eca;
  --background-color: #ffffff;
  --correct-color: #3c3180;
  --wrong-color: #f2ce83;
}


html {
  font-family: "Roboto Mono", "Roboto Mono", Vazirmatn, monospace;
}


.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}